@use "@nationalarchives/frontend/nationalarchives/tools/media";

.tna-logo--adornable {
  position: relative;
  z-index: 1;
  container-type: inline-size;

  &::before,
  &::after {
    content: "";

    width: 48.5%;
    height: 31.9%;

    overflow: hidden;

    position: absolute;
    top: 1.1%;
    right: 1.1%;
  }

  &::before {
    z-index: -2;
  }

  &::after {
    z-index: -1;
  }
}

@mixin emoji-adornment($emoji) {
  .tna-logo--adornable {
    &::after {
      content: $emoji;

      display: flex;
      align-items: baseline;
      justify-content: center;
      overflow: visible;

      z-index: 1;

      font-size: 2.25rem;
      line-height: 1;
      line-height: 1cap;
      text-shadow: 0.05em 0.05em 0.05em rgb(0 0 0 / 25%);

      @include media.on-small {
        font-size: 1.75rem;
      }

      @include media.on-tiny {
        font-size: 10.5rem;
      }

      @supports (font-size: 42cqw) {
        font-size: 42cqw !important;
      }
    }
  }
}
