.tna-logo--adornable {
  position: relative;
  z-index: 1;

  &::before,
  &::after {
    content: "";

    width: 48.5%;
    height: 32%;

    overflow: hidden;

    position: absolute;
    top: 1.1%;
    right: 1.1%;
  }

  &::before {
    z-index: -2;
  }

  &::after {
    z-index: -1;
  }
}
