@use "common";

.tna-logo--adornable {
  &::after {
    height: 46%;

    overflow: visible;

    top: -8%;

    z-index: 4;

    background-image: url("/enrichment/static/images/logo-adornments/poppy.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0.2em 0.2em 0.2em rgb(0 0 0 / 75%));

    transform: rotate(8deg);
  }
}
