@use "common";

.tna-logo--adornable {
  &::after {
    background-image: url("../images/logo-adornments/union-flag.svg");
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-position: center;
  }
}
