@use "common";

@use "@nationalarchives/frontend/nationalarchives/tools/media";

.tna-logo--adornable {
  &::after {
    content: "❤️";

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;

    z-index: 1;

    font-size: 3rem;
    text-shadow: 3px 3px 3px rgb(0 0 0 / 25%);

    .tna-header & {
      font-size: 2.25rem;
    }

    @include media.on-small {
      font-size: 1.75rem !important;
    }

    @include media.on-tiny {
      font-size: 1.5rem !important;
    }
  }
}
