@use "common";

.tna-logo--adornable {
  &::after {
    background-image: url("../images/logo-adornments/wales-flag.svg");
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
  }
}
